




 /* discord color variables */

:root.theme-dark 
{
    --background-tertiary: #2A2B2F;
    --background-secondary: #18191D; /* guild folder border background */
    --background-secondary-alt: #000000; /* change it and see for yourself */
    --background-primary: #000000; /* primary background color, full amoled black  */
    --channeltextarea-background: #2A2B2F; /* color of your chat bar */
    --background-accent: var(--brand-experiment); /* discords accent color (default) */
    --background-message-hover: transparent;
    --background-modifier-hover: #292a2c;
    --background-modifier-active: #000000;
    --background-modifier-selected: #2a2a2c;
    --background-floating: #000000; /* userpopout background */
}

