:root{
    --dark-primary: #000000;
    --dark-secondary: #050505;
    --dark-secondary-alt: #080808;
    --roundmoled-background: #142339;
    --popout-activeborders: #1f1f1f;
}


/* mala pls remember to organize this shit T_t*/


/* Server boost modal */
.theme-dark .perksModal-fSYqOq
{
    background-color:var(--dark-primary);
}

/* Inbox */

.container-enaOkj, .channelHeader-3Gd2xq
{
    border-radius:15px;
    background-color:var(--dark-secondary);
    
}

.container-enaOkj, .tutorial-3w5I9h
{
    border:solid;
    border-color:var(--popout-activeborders);
}

.tutorial-3w5I9h, .header-ykumBX
{
    background-color:var(--dark-primary);
}

/* Pins */

.messagesPopoutWrap-1MQ1bW
{
    background-color:var(--dark-secondary-alt);
    border-radius: 15px;
    border:solid;
    border-color:var(--popout-activeborders);
}

/* Emoji picker big and small */

.contentWrapper-SvZHNd
{
    background-color:var(--dark-secondary);
    border-radius: 15px;
    border:solid;
    border-color:var(--popout-activeborders);

}

.unicodeShortcut-15J8Ck, .wrapper-1-Fsb8, .input-1Rv96N, .emojiPicker-3PwZFl
{
        background-color:var(--dark-secondary);
}

.list-donH_Z
{
        background-color:var(--dark-secondary);
        border:solid;
        border-color:var(--dark-primary);
}

/* Settings userpopout preview fix */

.profileBannerPreview-3_l0Wd{
    border:solid;
    border-color:var(--popout-activeborders);
}

/* Discord's changelog modal */

.theme-dark .root-1gCeng, .theme-dark .footer-2gL1pp
{
    background-color: var(--dark-secondary);
}

/* member list background color*/
:root .members-1998pB, .members-1998pB>div
{
    background-color: var(--dark-primary);
}

/* server channel list */
:root .container-3w7J-x, .sidebar-2K8pFh
{
    background-color: var(--dark-secondary);
}

/* amoledify message search popout */
.theme-dark .container-3ayLPN{
    border-radius:15px;
    background-color:var(--dark-primary);
    border:solid;
    border-color: var(--popout-activeborders);
}

.searchHeader-2XoQg7{
    background-color: var(--dark-secondary-alt);
}

.theme-dark .option-96V44q:after{
        background: linear-gradient(90deg,rgba(21, 21, 21, 0),#000 80%);
}

.searchResultsWrap-3-pOjs{
    border-radius:20px;
    background-color:var(--dark-primary);
    margin-right: 10px;
    margin-left: 10px;
}

.channelName-1JRO3C{
    background:var(--dark-secondary);
    border-radius:7px;
}


/* rounded corners in channel list and chat-member list */
:root .sidebar-2K8pFh.hasNotice-1XRy4h, .platform-win .sidebar-2K8pFh.hasNotice-1XRy4h, .chat-3bRxxu, .platform-win .sidebar-2K8pFh, .sidebar-2K8pFh
{
    border-radius: 25px;
}

/* chat embeds */

.embedFull-2tM8--{
    background-color:var(--dark-secondary-alt);
    border-left: 4px solid var(--brand-experiment);
}

.embedFooterText-28V_Wb{
    font-size: 0.85rem;
    line-height: 1rem;
    font-weight: 500;
}

.embedThumbnail-2Y84-K
{
    border-radius:13px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

/* invites in chat */
.wrapper-35wsBm
{
    background-color:var(--dark-secondary-alt);
    border:solid;
    border-radius:15px;
    border-color:var(--popout-activeborders);
}

.lookFilled-1Gx00P.colorGreen-29iAKY
{
    background-color:var(--brand-experiment);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover
{
    filter:brightness(80%);
    transform: scale(1.035);
    transition: 250ms ease-in-out;
}


/* Chat @ and emoji autocomplete */
.theme-dark .autocomplete-1vrmpx
{
    background-color:var(--dark-secondary);
    border-radius:15px;
    border:solid;
    border-color:var(--popout-activeborders);
}

.theme-dark .selected-1Tbx07
{
        background-color:var(--background-secondary-alt);
        transform: scale(1.015);
        transition: 250ms ease-in-out;
}

/*  follow this channel modal */
.wrapper-39oAo3{
    background-color: var(--dark-secondary-alt);
    border:solid;
    border-color:var(--popout-activeborders);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover
{
    background-color:var(--brand-experiment);
}
    
.clickable-25tGDB .header-2V-4Sw:hover, .selected-31Nl7x .header-2V-4Sw{
    background-color: #0f10106b;
}

/* home page and DMs stuff */

.theme-dark .container-1D34oG
{
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 10px;
}

:root .peopleColumn-29fq28, .privateChannels-1nO12o, .scroller-1JbKMe{
    background-color: var(--dark-primary);
}

:root .searchBar-6Kv8R2 .searchBarComponent-32dTOx{
    margin-top:5px;
    border-radius: 25px;
}

:root .theme-dark .container-1D34oG, .container-1a3EgQ, .applicationStore-1pNvnv{
    border-radius: 15px;
    margin-right: 10px;
    margin-top:10px;
    margin-bottom:10px;
}

/* friends now playing home */

.wrapper-3D2qGf, .theme-dark .separator-XqIyoz, .theme-dark .inset-3sAvek{
    background-color:var(--dark-secondary-alt);
}

.section-2gLsgF{
    border-radius:13px;
}

.wrapper-3D2qGf:hover{
        transform: scale(1.025);
        transition: 250ms ease-in-out;
}


/* Server boost tab settings */
.guildHeader-3nh5RK, .guildSubscriptionSlots-JPXXvN, .cardWrapper-2Min21
{
    background-color:var(--dark-secondary);
}


.guild-Hq0WWA{
    border-radius:13px;
}

.card-3AyPWq:hover
{
    background-color:var(--dark-secondary-alt);
}

/* Settings > Appareance preview */
.preview-2nSL_2
{
    background-color: var(--dark-primary);
}


/* hypesquad tab settings */
.membershipDialogHeading-3y8iIr, .membershipDialogHouseDescription-1GaVtg, .membershipDialogHouseName-ezTTJ9, .membershipDialogSwitchHouses-1K8L1U, .membershipDialogSwitchHousesAction-2a3eDg:hover{
    filter:invert(100%);
}

/* settings */
:root .sidebarRegionScroller-3MXcoP
{
    background-color: var(--dark-primary);
}

.accountProfileCard-1XCH88{
    background-color: var(--dark-secondary);
    border-radius:15px;
}

.fieldList-21DyL8, .background-1QDuV2
{
        background-color: var(--dark-secondary-alt);
}

.avatar-1uQSZT{
    border-color: var(--dark-secondary);
    background-color: var(--dark-secondary);
}

.background-1QDuV2
{
        border:solid;
        border-color: var(--popout-activeborders)
}

.item-26Dhrx
{
    background-color: var(--dark-secondary);
    border-radius:10px;
}

.item-26Dhrx:hover
{
        transform: scale(1.015);
        transition: 250ms ease-in-out;
}

.radioIconForeground-XwlXQN{
    color: var(--brand-experiment);
}

/* guild scroller stuff */
:root .guilds-1SWlCJ
{
    margin-right: 10px;
    margin-left: 7px;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 18px;
}

:root .scroller-1Bvpku
{
    background-color: var(--dark-secondary-alt);
}



/* background color*/
:root .bg-h5JY_x, .base-3dtUhz
{
    background-color: var(--roundmoled-background);
}

/* user popout and emoji details on click borders*/
:root .userPopout-xaxa6l, .full-motion .translate-2dAEQ6.didRender-33z1u8
{
    border:solid;
    border-color: var(--popout-activeborders);
    border-radius: 7px;
}


/* chat margins so they don't touch eachother*/
:root .chat-3bRxxu, .sidebar-2K8pFh
{
    margin-right: 10px;
    margin-top:10px;
    margin-bottom:10px;
}

/* AMOLED-ify join/create server modal */

.theme-light .root-1gCeng
{
    border-radius:25px;
    background-color: var(--dark-primary);
    overflow:hidden;
}
.base-1x0h_U
{
    color: #fff;
}
.container-UC8Ug1
{
    background-color:#18191D;
}

.container-UC8Ug1:hover
{
    transform: scale(1.025);
    border:solid;
    border-color:var(--brand-experiment);
    transition: 250ms ease-in-out;
}

.input-cIJ7To
{
    color:#dcddde;
}

.colorHeaderSecondary-3Sp3Ft, .colorStandard-2KCXvj, .lookBlank-3eh9lL
{
    color: #b9bbbe;
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV
{
    background-color:var(--brand-experiment);
    border-radius: 7px;
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:hover
{
    transform: scale(1.025);
    transition: 250ms ease-in-out;
}


.theme-light .footer-2gL1pp
{
    background-color: var(--dark-secondary);
}

.header-3msK0M, .header-1TKi98
{
    width:90%;
    height:100px;
}

/* AMOLED-ify download app modal */
.mobileContainer-1x7CLQ, .desktopContainer-spQem0
{
    background-color:var(--dark-secondary);
    border:solid;
    border-color: var(--popout-activeborders);
}

/* AMOLED-ify discover section */
.theme-dark .pageWrapper-1PgVDX{
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: 10px;
    background-color: var(--dark-primary);
}

:root.theme-dark 
{
    --background-tertiary: #2A2B2F;
    --background-secondary: #18191D; /* guild folder border background */
    --background-secondary-alt: var(--dark-primary);; /* change it and see for yourself */
    --background-primary: var(--dark-primary);; /* primary background color, full amoled black  */
    --channeltextarea-background: #2A2B2F; /* color of your chat bar */
    --background-accent: var(--brand-experiment); /* discords accent color (default) */
    --background-message-hover: transparent;
    --background-modifier-hover: #292a2c;
    --background-modifier-active: var(--dark-primary);;
    --background-modifier-selected: #2a2a2c;
    --background-floating: var(--dark-primary);; /* userpopout background */
}
