/**
* @name Roundmoled
* @author malasangre#3502
* @description Simple amoled black + rounded corners theme
* @version 1.2
*/

/* Base theme file, don't disable */

@import url("https://tiredmala.github.io/Roundmoled/main.css");

/*                                Optional stuff ( delete the /⃰ ⃰/ on top and below the import to enable them)                     */


/*
@import "https://tiredmala.github.io/Roundmoled/optional/blur.css";
*/

/*                                Alternative color palettes                                                                      */ 


/*
@import "https://tiredmala.github.io/Roundmoled/palettes/roundturnal.css";
*/
