/**
* @name RoundNotmoled
* @author Rayr#6401
* @description a fork of Simple amoled black + rounded corners theme with lighter colors
* @version 2.0
*/

/* Base theme file, don't disable */

@import url("https://github.com/Rayrsn/RoundNotmoled/raw/main/main.css");

/*                                Optional stuff ( delete the /⃰ ⃰/ on top and below the import to enable them)                     */


/*
@import "https://github.com/Rayrsn/RoundNotmoled/raw/main/optional/blur.css";
*/

/*                                Alternative color palettes                                                                      */ 


/*
@import "https://github.com/Rayrsn/RoundNotmoled/raw/main/palettes/roundturnal.css";
*/
