/**
* @name RoundNotmoled
* @author Rayr
* @authorLink https://rayr.ml/LinkInBio
* @description a fork of Simple amoled black + rounded corners theme with lighter colors
* @source https://github.com/Rayrsn/RoundNotmoled
* @updateUrl https://rayrsn.github.io/RoundNotmoled/BetterDiscord/roundnotmoled.theme.css
* @authorId 616702462526488616
* @version 2.0
*/

/* Base theme file, don't disable */

@import url("https://rayrsn.github.io/RoundNotmoled/main.css");

/*                                Optional stuff ( delete the /⃰ ⃰/ on top and below the import to enable them)                     */


/*
@import "https://rayrsn.github.io/RoundNotmoled/optional/blur.css";
*/

/*
@import "https://rayrsn.github.io/RoundNotmoled/optional/optional2.css";
*/

/*
@import "https://rayrsn.github.io/RoundNotmoled/optional/optional3.css";
*/

/*                                Alternative color palettes                                                                      */ 


/*
@import "https://rayrsn.github.io/RoundNotmoled/palettes/roundturnal.css";
*/
